<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% if form.errors %}
      <p>There is something wrong with what you are enter!</p>
    {% endif %}

    {% if next %}
      <p>Hey you cannot access that page.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <p>Username: {{ form.username }}</p>
      <p>Password: {{ form.password }}</p>
      <p><input type="submit" value="Login"></p>
      <input type="hidden" name="next" value="{{ next }}">
    </form>


  </body>
</html>
