<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h2>Register</h2>
    <form  action="{% url 'register' %}" method="post">
      {% csrf_token %}
      {% if form.erros %}
        <p>There is something wrong</p>
      {% endif %}
      {{ form }}
      <button type="submit">Register</button>
    </form>
  </body>
</html>
