<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Authentication</title>
  </head>
  <body>
    <h1>Index Page</h1>
    {% if user.is_authenticated %}
      <h4>Your name is: {{ user.username }}</h4>
      <a href="accounts/logout">Logout</a>

    {% else %}
      <h4>You are not logged in</h4>
      <a href="accounts/login">Login</a>
      <a href="{% url 'register' %}">Reigster</a>

    {% endif %}
  </body>
</html>
